<!doctype html>
<html lang="en">

{%load static%}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Veterinaria</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>


<body class="container mt-5" >
    <link rel="stylesheet" href="{%static '/css/style.css'%}">

    <div class="alert alert-info text-center display-1">

        <img src="" alt="" width="100px">  Veterinaria

    </div>

    <div class="card mb-2" width="100px text-center display-1">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="{%static 'img/veterinaria.jpg'%}" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h2 class="card-title text-center">Chucky PB</h2>
              <p></p>
              <p class="card-text text-center ">Bienvenidos a mi veterinaria, aquí podras registrar a tu paciente y ser atendido por nuestra veterinaria.     </p>
              <p class="card-text text-center"> Además podras dejar a tu mascota en las mejores manos, espero te sientas a gusto</p>
              <p class="card-text text-center">¡¡Bienvenido a Chucky PB!!</p>

            </div>
          </div>
        </div>
      </div>

    <!-- <div class="row">
        <div class="card mb-2" width="100px text-center display-1">
            <div class="row g-0 col-md-4">

                <div class="col-md-8 text-center">
                    <div class="card-body">
                        <h3 class="card-title"> Chucky PB</h3>
                        <p class="card-text">Nombre: Veterinaria C</p>
                        <p class="card-text">Ciudad: {{Ciudad}}</p>


                    </div>
                </div>
            </div>
        </div> -->

    </div>

    <div class="row">
        
        <div class="col">
            <a href="/veterinaria" class="btn btn-danger p-3 w-100"> Registre su mascota</a>
        </div>
        <div class="col">
            <a href="/admin" class="btn btn-info p-3 w-100">Admin </a>

        </div>
        <!-- <div class="col">
            <a href="/dueño" class="btn btn-info p-3 w-100">Registro de dueño </a>

        </div> -->

    </div>

    <!-- <div class="row">
        
        <div class="col">
            <a href="/consultas" class="btn btn-info p-3 w-100"> Consultas Medicas</a>
        </div>
        <div class="col">
            <a href="/estetica" class="btn btn-danger p-3 w-100">Estetica </a>

        </div>

    </div>
    <div class="row">
        
        <div class="col">
            <a href="/vacunas" class="btn btn-danger p-3 w-100"> Vacunas</a>
        </div>
        <div class="col">
            <a href="/cirugia" class="btn btn-info p-3 w-100">Cirugía </a>

        </div>

    </div> -->



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</body>

</html>